
body {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}
.timeline-heading {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 6px;
}

.timeline-bullet {
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
    flex-shrink: 0;
}
.timeline {
    position: relative;
    padding-left: 60px;
}

/* Vertical road */
.timeline::before {
    content: "";
    position: absolute;
    left: 30px;
    top: 0;
    width: 6px;
    height: 100%;
    background: #d5d1d1;
    border-radius: 3px;
}

.timeline-item {
    position: relative;
    display: flex;
    gap: 30px;
    background: #f8f8f8;
    padding: 25px;
    margin-bottom: 40px;
    border-radius: 10px;
}

/* Big circle bullet */
.timeline-marker {
    position: absolute;
    left: -45px;
    top: 40px;
    width: 30px;
    height: 30px;
    background: #999;
    border-radius: 50%;
    border: 5px solid rgb(170, 215, 201);
}

.about {
    max-width: 1000px;
    margin: 0 auto 80px auto;
    background: rgb(191, 192, 193);
    padding: 20px 24px;

    border: 1.5px solid rgb(0, 7, 13);
    border-radius: 5px;
}

.about-layout {
    display: flex;
    align-items: flex-start;
    gap: 12px; /* much tighter = CV look */
}

.about-photo {
    width: 128px;
    height: 128px;
    min-width: 128px;
    min-height: 128px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 4px; /* aligns with text baseline */
}

/* Text block */
.about-text {
    position: relative;
}

/* Big black bullet */
.about-bullet {
    width: 18px;
    height: 18px;
    background: black;
    border-radius: 50%;
    margin-bottom: 10px;
}

.about h2 {
    margin-top: 0;
}

/* Justified paragraph */
.about p {
    text-align: justify;
    line-height: 1.8;
    color: #444;
}
.about-more {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.about-more.open {
    max-height: 1000px; /* large enough to show content */
}

.read-more-btn {
    background: none;
    border: none;
    color: #000;
    font-size: 0.9rem;
    cursor: pointer;
    padding: 0;
    margin-top: 8px;
}

.read-more-btn:hover {
    text-decoration: underline;
}
.about-heading {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}
.about-bullet {
    width: 15px;
    height: 15px;
}
.about a {
    color: #000;
    text-decoration: underline;
}

.about a:hover {
    color: #333;
}
