.timeline {
    position: relative;
    padding-left: 60px;
}

/* Vertical road */
.timeline::before {
    content: "";
    position: absolute;
    left: 30px;
    top: 0;
    width: 6px;
    height: 100%;
    background: #d5d1d1;
    border-radius: 3px;
}

.timeline-item {
    position: relative;
    display: flex;
    gap: 30px;
    background: #f8f8f8;
    padding: 25px;
    margin-bottom: 40px;
    border-radius: 10px;
}

/* Big circle bullet */
.timeline-marker {
    position: absolute;
    left: -45px;
    top: 40px;
    width: 30px;
    height: 30px;
    background: #999;
    border-radius: 50%;
    border: 5px solid white;
}

.about {
    max-width: 900px;
    margin: 0 auto 60px auto;
    background: white;
    padding: 40px;
    border-radius: 12px;
}

.about h2 {
    margin-top: 0;
}

.about p {
    line-height: 1.7;
    color: #444;
}
